/* style sheet for index */

.img-thumbnail{
  margin-left: 100px;
}


.name{ 
  margin-left: 75px;
  margin-top:8%;

}

.containerAboutMe {
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color:rgba(255,255,255, .9);
  width: 1000px;
  height: 600px;
  padding: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


/* stylesheet for portfolio */

h1{
  color: black;
}

.containerPortfolio {
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color:rgba(255,255,255, .9);
  width: 1000px;
  height: 900px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

.relative-img-div {
position: relative;
}

.img {
width: 100%;
margin: 0 auto;
}

.picText{
position: absolute;
top: 5px;
left: 50%;
transform: translate(-50%);
text-align: center;
}

.wordGuess{
background-color: black;
}


/* stylesheet for contact */

* {
    box-sizing: border-box;
  }
  
  .contactAvi{
    margin-left:30px;
    margin-top: 20px;
  }

  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .containerContact {
    border-radius: 5px;
    background-color:rgba(255,255,255, 0.8);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1000px;
    height: 800px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  } 
  