/* stylesheet for portfolio */

h1{
    color: black;
}

.container{
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color:rgba(255,255,255, .9);
    width: 1000px;
    height: 900px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

/* centered image row1 */
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 /* left image row1 */
  .centered1 {
    position: absolute;
    top: 45%;
    right: 70%;
    transform: translate(-50%, -50%);
  }

  /* right image row1 */
  .centered2 {
    position: absolute;
    top: 45%;
    left: 74.5%;
    transform: translate(-50%, -50%);
  }

 /* left image row 2 */
  .centered3 {
    position: absolute;
    top: 112%;
    right: 67%;
    transform: translate(-50%, -50%);
    background-color: black;
  }

  /* centered image row2 */
  .centered4 {
    position: absolute;
    top: 112%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

   /* right image row2 */
   .centered5 {
    position: absolute;
    top: 112%;
    left: 74.5%;
    transform: translate(-50%, -50%);
  }


  
