img{
    margin-left: 100px;
}

h1{ 
    margin-left: 75px;
    margin-top:8%;

}

.container{
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color:rgba(255,255,255, .9);
    width: 1000px;
    height: 500px;
    border: 10px;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}